[submodule ".vim/bundle/taboo"]
	path = .vim/bundle/taboo
	url = https://github.com/gcmt/taboo.vim.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/node"]
	path = .vim/bundle/node
	url = https://github.com/moll/vim-node.git
[submodule ".vim/bundle/snippets"]
	path = .vim/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
