snippet kfun "keli function" b
[${1:Client}]
function $2($3) {
  $0
}
endsnippet

snippet ' "closing single quote"
'${VISUAL}$0'
endsnippet

snippet { "Closing curely bracket"
{${VISUAL}$0}
endsnippet
