snippet kdoc "Document Keli Function" b
## ${1:Function Name}
${2:Description}

### Syntax
\`\`\`javascript
$1($3)
\`\`\`

### Tags
- ${4:Client}

### Parameters
\`${5:paramName}\`
> ${6:Description}

### Returns
${7:undefined}

### Description
$8

### Examples
\`\`\`javascript
$1()
\`\`\`

endsnippet
